[submodule "src/googletest"]
	path = external/google/googletest
	url = https://github.com/google/googletest.git
[submodule "src/google/benchmark"]
	path = external/google/benchmark
	url = https://github.com/google/benchmark.git
